button{
    height: 45px;
    width: 100px;
    border-radius: 8px;
    border-width: 0ch;
    text-align: center;
    color: white;
    background-color: red;
    font-size: 18px;
    font-family: Tahoma;
}
button:hover{
    background-color: whitesmoke;
    color: black;
}
button:active{
background-color: aquamarine;
}

input{
  margin-left: 600px;
  height: 40px;
  width: 200px;
  border-radius: 8px;
  font-size: 25px;
  margin-top: 10px;
  display: inline-block;
}
label{
    display: flex;
    margin-left: 680px;
    font-size: 25px;
    margin-top: 20px;

}

